body {
    background-color: black;
}

#yazi {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    z-index: 1;
}

#saat {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    width: 250px;
    height: 60px;
    text-align: center;
    background-color: purple;
    box-shadow: 1px 2px black;
    color: white;
    z-index: 1;
    text-shadow: 1px 2px white;
}

.clock {
    position: absolute;
    width: 260px;
    height: 50px;
    background-color: yellow;
    z-index: 1;
    padding: 10px;
    font-size: 50px;
    padding-left: 40px;
}

.start {
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    z-index: 1;
}

.stop {
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    z-index: 1;
}

.particles-js-canvas-el {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
}
